
body{
    background-color: #e4f7db;
    padding: 0;
    margin: 0;
}
.navbar{
    background-color: #3f5833;
}

.serach-bar-btn{
    background-color: #bfeaab;
    color: black !important;
}
/* #133903 */


.nav-bar-form::placeholder{
    color: white;
}
.navbar-toggler{
    border:2px solid  white;

}

#formGroupExampleInput::placeholder
{
    color: white;
}
.card1 {
width: 310px; /* Set the desired width for each card */
  height: 250px; /* Set the desired height for each card */
  margin: auto;
  margin-top : 3px;
  background-color : #fff;
  border-radius : 5px;
box-shadow: 0 10px 20px rgba(63,88,51,.19), 0 6px 6px rgba(63,88,51,.23);
}
.card2 {
width: 310px; /* Set the desired width for each card */
  height: 250px; /* Set the desired height for each card */
  margin: auto;
  margin-top : 3px;
  background-color : #3f5833;
  border-radius : 5px;
  padding : 10px;
box-shadow: 0 10px 20px rgba(63,88,51,.19), 0 6px 6px rgba(63,88,51,.23);
}
.footer-underline::after {
    height: 1px;
    background-color: #9afd6f;
}
.select-tag {
    width: 100%;
    height: 40px;
}
.footer-underline, .search-btn, .select-tag, .title-underline {
    display: inline-block;
}
.search-btn, .select-tag {
    padding: 0 20px;
    margin: 10px 0;
    box-sizing: border-box;
    display: inline-block;
}
.search-btn {
    width: 100%;
    height: 42px;
    color: #fff;
    font-weight: 500;
    border : 0px;
    background-color: #9afd6f;
}
.filter-bg {
    background: #3f5833;
}
#sample {
    position: relative;
}
.image-tag {
    bottom: 2%;
    left: 5%;
    padding: 6px;
    font-size: 19px;
}
.image-tag, .property-type-tag {
    position: absolute;
    background-color: #006789;
    color: #fff;
    border-radius: 10px;
}
.property-type-tag {
    top: 2%;
    right: 5%;
    padding: 2px 20px;
    font-size: 18px;
    height: 35px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 500;
}
.image-tag, .property-type-tag {
    position: absolute;
    background-color: #3f5833;
    color: #fff;
    border-radius: 10px;
}
.bg-auctions {
    background-color: #3f5833;
}
.btn-bg {
    backkground-color : #9afd6f !important;
}
.img-emd {
    bottom: 2%;
    left: 5%;
    padding: 6px;
    font-size: 19px;
}
.property-type-tag {
    top: 2%;
    right: 5%;
    padding: 2px 20px;
    font-size: 18px;
    height: 35px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 500;
}
.img-emd, .property-type-tag {
    position: absolute;
    background-color: #3f5833;
    color: #fff;
    border-radius: 10px;
}
.bg-auctions h3, span {
 color: #3f5833;
 font-family : roboto;
}
#property-top {
position : relative;
}
.custom-submit-btn {
  margin-left : 80vh
}
.list-btn-bg {
    padding: 8px;
    display: inline-block;
    height: 42px;
    font-weight: 500;
    border-radius: 10px;
}
.details-card-bg, .related-card-bg {
    background: rgba(161,202,231,.4);
    box-shadow: 0 3px 5px 0 rgba(31,38,135,.37);
    backdrop-filter: blur(1px);
    -webkit-backdrop-filter: blur(1px);
    border-radius: 5px;
    border: 1px solid rgba(255,255,255,.18);
}
.price-color {
    color: #006789;
    font-size: 20px;
}

.details-card-bg, .related-card-bg {
    background: #bfeaab;
    box-shadow: 0 3px 5px 0 rgba(31,38,135,.37);
    backdrop-filter: blur(1px);
    -webkit-backdrop-filter: blur(1px);
    border-radius: 5px;
    border: 1px solid rgba(255,255,255,.18);
}
.btn-icon, .list-btn-bg, .liveproperty-btn-bg {
    background-color: #9afd6f;
}
a {
 color : #3f5833 !important;
}
.button {
width : 55%;
}
.support-rounded-size {
    height: 50px;
    width: 50px;
    background-color: #9afd6f;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #000;
    text-decoration: none;
    font-size: 15px;
}
.footer-underline::after, .title-underline::after {
    content: "";
    display: block;
    width: 60%;
    margin-right: auto;
    margin-left: auto;
    margin-top: 5px;
}
.footer-underline, .search-btn, .select-tag, .title-underline {
    display: inline-block;
}
.nav-search input {
    width : 45%;
}
.nav-ul {
    display : flex;
    flex-direction : row;
    margin-left : 20px;
}

.form-container{

    width:400px;
    height:250px;
    margin-left:60%;
    background-color: #3f5833;

}
@media (min-width:400px) and (max-width:995px) {
    .nav{
        width:100vw;
    }
    #navbarSupportedContent{
        margin-left: 30px;
    }
    .form-container{
        margin-left:20%;
        width:300px;
        height:250px;
    }
}
@media (max-width:400px) {
    .nav{
        width:100vw;
    }
    #navbarSupportedContent{
        margin-left: 30px;
    }
    .form-container{
        margin-left:-3%;
        width:380px;
        height:250px;
    }
}
.carousel-item img {
    height: 300px; /* Set the desired height */
    object-fit: cover; /* Maintain aspect ratio and cover the entire container */
  }
  .login-modal {
    margin-top: 130px; /* Adjust the margin-top value as needed */
  }
	
#login{
	background-color: white;
	
}
#login:hover{
	background-color: #9afd6f;
	letter-spacing: 3px;
}
.modal-content{
	background-color: #3f5833;
}
.register-card-bg {
    background-color: #3f5833;
}
.form-label, .modal-title{
	color: white;
}
#forgetPasswordLink {
   	display: block; 
    color: white;   
    cursor: pointer; 
    text-align: center; 
    margin: 0 auto; 
    width: fit-content; 
    transition: color 0.3s ease, text-decoration 0.3s ease;
}

#forgetPasswordLink:hover {
    color: blue;
    text-decoration: none; 
    text-decoration: underline; 
}


