<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
</head>
<body>
<table class="table table-striped ">
    <thead>
    <tr>
        <th scope="col">#</th>
        <th scope="col">auctionId</th>
        <th scope="col">propertyTitle</th>
        <th scope="col">Name</th>
        <th scope="col">Email</th>
        <th scope="col">Phone</th>
        <th scope="col">View details</th>

    </tr>
    </thead>
    <tbody>
   
	<!-- Iterate over each callback in the 'callbacks' list -->
	<tr th:each="details, index : ${callbacksData}">
	     <td th:text="${index.index + 1}"></td> <!-- Display row number -->
	     <td th:text="${details.auctionEntity.auctionId}"></td> <!-- Display auction ID -->
	     <td th:text="${details.auctionEntity.propertyTitle}"></td> <!-- Display property title -->
	     <td th:text="${details.register.name}"></td> <!-- Display user's name -->
	     <td th:text="${details.register.email}"></td> <!-- Display user's email -->
	     <td th:text="${details.register.mobileNumber}"></td> <!-- Display user's phone number -->
	     <td>
	         <!-- Link to view details of the callback -->
			 <a th:href="@{'/Auctiondetails/' + ${details.auctionEntity.id}}">
			     <button class="btn btn-primary">Details</button>
			 </a>


	     </td>
	 </tr>
	
	
    </tbody>
</table>
</body>
</html>