<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Property Details</title>
    <style>
        /* Define CSS styles for the property images container */
        .property-images {
            border: 1px solid #ccc;
            padding: 10px;
            overflow: auto;
        }
        .property-images img {
            display: block;
            margin-bottom: 10px;
            max-width: 100%;
        }
    </style>
</head>
<body>
    <h1>Property Details</h1>
    
    <!-- Iterate over allDetails and display property details -->
    <div th:each="auction : ${allDetails}" class="row mt-4">
        <div class="col-md-6">
            <h2 th:text="${auction.propertyTitle}"></h2>
            <p th:text="${auction.propertyDescription}"></p>
            <p><strong>Contact Details:</strong> <span th:text="${auction.contactDetails}"></span></p>
            <!-- Display images -->
            <div class="property-images">
                <div th:each="base64Image : ${auction.propertyDetails.base64Images}">
                    <img th:src="${'data:image/jpeg;base64,' + base64Images}" alt="Auction Image">
                </div>
            </div>
        </div>
    </div>

</body>
</html>
