<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>
<section class="mt-5">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-4 col-lg-9">
                <div class="card">
                    <div class="card-body details-card-bg">
                        <div class="row">

                            <div class="col-sm-12 col-md-4 col-lg-4 text-center p-1">Auction Id: <span class="fw-bold">#254046</span></div>
                            <div class="col-sm-12 col-md-4 col-lg-4 text-center p-1"><button type="button" class="btn btn-warning btn-sm" data-bs-toggle="modal" data-bs-target="#staticBackdropCallback" fdprocessedid="u3mwyv">Request Callback</button>
                            </div>
                            <div class="col-sm-12 col-md-4 col-lg-4 text-center p-1 favContainer_254046">
                                <a href="javascript:;" onclick="addfav(254046,'add')" title="Favorite">
                                    <i class="fa-regular fa-star fa-2x f3b459 position-absolute top-0 right-0 end-0" aria-hidden="true"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card mt-3">
                    <div class="card-body details-card-bg">
                        <h1 class="fw-bold"><a href="https://www.eauctionsindia.com/properties/254046" class="text-decoration-none text-dark">Debts Recovery Tribunal Auctions for Commercial Office in Shaniwar Peth, Pune</a></h1>
                        <div class="row mt-3">
                            <div class="col-sm-12 col-lg-3 col-md-3"><i class="fa fa-building-o me-1" aria-hidden="true"></i>
                                <a href="https://www.eauctionsindia.com/category/commercial" class="text-decoration-none contact-text fw-bold">Commercial</a></div>
                            <div class="col-sm-12 col-lg-3 col-md-3"><i class="fa fa-map-marker me-1" aria-hidden="true"></i>
                                <a href="https://www.eauctionsindia.com/city/pune" class="text-decoration-none contact-text fw-bold">Pune</a>
                            </div>
                            <div class="col-sm-12 col-lg-3 col-md-3"><i class="fa fa-calendar me-1" aria-hidden="true"></i>
                                05-07-2024 11:00 AM</div>
                        </div>
                    </div>
                </div>
                <div class="card mt-3">
                    <div class="card-body details-card-bg">
                        <!-- <div class="fw-bold">Bank Details</div> -->
                        <div class="row">
                            <div class="col-sm-6 col-md-6 col-lg-6 fw-bold">Bank Details</div>
                            <div class="col-sm-6 col-md-6 col-lg-6"><span class="fw-bold">Reserve
                    Price:</span><span class="price-color fw-bold">&nbsp;₹ 3,16,71,000
                    </span>
                            </div>
                        </div>
                        <div class="row mt-3">
                            <div class="col-sm-12 col-lg-6 col-md-6 d-flex flex-column  justify-content-center">
                                <div class="row">
                                    <div class="fw-bold col-4 ms-auto">Bank Name </div>
                                    <div class="col-8">:&nbsp; <a href="https://www.eauctionsindia.com/bank/debts-recovery-tribunal" class="text-decoration-none contact-text fw-bold">Debts Recovery Tribunal</a></div>
                                    <div class="fw-bold col-4 ms-auto">EMD </div>
                                    <div class="col-8">:&nbsp;₹ 31,68,000</div>
                                    <div class="fw-bold col-4">Branch Name </div>
                                    <div class="col-8">:&nbsp;pune</div>
                                    <div class="fw-bold col-4">Service Provider </div>
                                    <div class="col-8">: &nbsp;indianbankseauction.com</div>
                                </div>
                            </div>
                            <div class="col-sm-12 col-lg-6 col-md-6 d-flex flex-column  justify-content-center">
                                <span class="fw-bold">Contact Details:</span>
                                <span class="contact-text fw-bold">CONTACT NO: 8797280991/9811847413</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card mt-3">
                    <div class="card-body details-card-bg">
                        <div class="fw-bold mb-3">Description</div>
                        <p>d) All that piece and parcel of Office No. 401/1, Admeasuring 166.63 Sq. Mtrs., Office No. 401/2 admeasuring 1091.57 Sq.Ft. i.e. 101.41 Sq. Mtrs. and Office No. 401/3 admeasuring 378.67 Sq. Ft. i.e. 35.18 Sq. Mtrs. on fifth floor in building known as 'Nav Maharashtra House', situated at City Survey No. 43, Shaniwar Peth, within the limits of Pune Municipal&nbsp;Corporation and also within the limits of Registration District Pune, Sub Registration District Haveli, District Pune and Bounded as On or Towards the East: Road, On or Towards the South: Road, On or Towards the West: Land &amp; CTS No. 48 &amp; 56C, On or Towards the North: CTS No. 42. That the said property is owned and possessed by CD No. 2.</p>
                        <div class="row mt-2">
                            <div class="col-sm-12 col-md-4 col-lg-4"><span class="fw-bold">Province/State:</span><span class="contact-text fw-bold">&nbsp;<a href="https://www.eauctionsindia.com/auctions-in-maharashtra" class="text-decoration-none contact-text fw-bold">Maharashtra</a></span></div>
                            <div class="col-sm-12 col-md-4 col-lg-4"><span class="fw-bold">City/Town:</span>
                                <span class="contact-text fw-bold">&nbsp;
                                        <a href="https://www.eauctionsindia.com/city/pune" class="text-decoration-none contact-text fw-bold">Pune</a>
                                        </span></div>

                            <div class="col-sm-12 col-md-4 col-lg-4"><span class="fw-bold">Area/Town:</span><span>&nbsp;Shaniwar Peth</span></div>
                        </div>
                    </div>
                </div>
                <div class="card mt-3">
                    <div class="card-body details-card-bg">
                        <div class="card-header">
                            <div class="row">
                                <div class="col-sm-6 col-md-6 col-lg-6 fw-bold">Property Details</div>
                                <div class="col-sm-6 col-md-6 col-lg-6"><span class="fw-bold">
                      <!-- Reserve    Price:</span><span class="price-color fw-bold">&nbsp;₹ 90,00,000</span> -->
                  </span></div>
                            </div>
                        </div>
                        <div class="row mt-3">
                            <div class="col-sm-12 col-lg-6 col-md-6 d-flex flex-column  justify-content-center">
                                <div class="row">
                                    <div class="fw-bold col-4 ms-auto">Borrower Name </div>
                                    <div class="col-8">:&nbsp;M/s. Pranav Agro Industries</div>
                                    <div class="fw-bold col-4 ms-auto">Asset Category</div>
                                    <div class="col-8">:&nbsp;<a href="https://www.eauctionsindia.com/category/commercial" class="text-decoration-none contact-text fw-bold">Commercial</a></div>
                                    <div class="fw-bold col-4">Property Type </div>
                                    <div class="col-8">:&nbsp;Commercial Office</div>
                                    <div class="fw-bold col-4 ms-auto">Auction Type </div>
                                    <div class="col-8">:&nbsp;DRT Auction</div>

                                </div>
                            </div>
                            <div class="col-sm-12 col-lg-6 col-md-6 d-flex flex-column  justify-content-center">
                                <div class="row">
                                    <div class="fw-bold col-7">Auction Start Time</div>
                                    <div class="col-5">:&nbsp;05-07-2024 11:00 AM</div>
                                    <div class="fw-bold col-7 ms-auto">Auction End Date </div>
                                    <div class="col-5">:&nbsp;05-07-2024 03:00 PM</div>
                                    <div class="fw-bold col-7">Application Submision Date</div>
                                    <div class="col-5">:&nbsp;04-08-2024 05:00 PM</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card mt-3">
                    <div class="card-body details-card-bg">
                        <div class="card-header">
                            <div class="fw-bold">Downloads</div>
                        </div>
                        <div class="d-flex justify-content-evenly">
                            <div class="mt-3"><span class="fw-bold ">Sale Notice 1:</span>&nbsp;
                                <a target="_blank" href="https://www.eauctionsindia.com/storage/properties/DRT117117062446008.jpg">
                                    <i class="fas fa-file fa-2x text-success  mt-2" aria-hidden="true"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

        </div>

    </div>
</section>
</body>
</html>