<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" integrity="sha512-JuX7/1V1q5dfjqif3xW9VuPAybdUxuz0brE3txZw0gLC1/DpOepNytRcdo/2w6jqmbOmZerJslzmN6/xxQxqGw==" crossorigin="anonymous" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>
<section class="mt-5">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-4 col-lg-9">
                <div class="card">
                    <div class="card-body details-card-bg">
                        <div class="row">

                            <div class="col-sm-12 col-md-4 col-lg-4 text-center p-1">Auction Id: <span class="fw-bold" th:text="${auction.get().auctionId}"></span></div>
                            <div class="col-sm-12 col-md-4 col-lg-4 text-center p-1"><button type="button" class="btn btn-warning btn-sm" data-bs-toggle="modal" data-bs-target="#staticBackdropCallback" fdprocessedid="u3mwyv">Request Callback</button>
                            </div>
                            <div class="col-sm-12 col-md-4 col-lg-4 text-center p-1 favContainer_254046">
                                <a href="javascript:;" onclick="addfav(254046,'add')" title="Favorite">
                                    <i class="fa-regular fa-star fa-2x f3b459 position-absolute top-0 right-0 end-0" aria-hidden="true"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card mt-3">
                    <div class="card-body details-card-bg">
                        <h1 class="fw-bold"><a href="https://www.vertexproserv.com/properties/254046" th:text="${auction.get().propertyTitle}" class="text-decoration-none text-dark">Debts Recovery Tribunal Auctions for Commercial Office in Shaniwar Peth, Pune</a></h1>
                        <div class="row mt-3">
                            <div class="col-sm-12 col-lg-3 col-md-3"><i class="fa fa-building-o me-1" aria-hidden="true"></i>
                                <a href="https://www.vertexproserv.com/category/commercial" class="text-decoration-none contact-text fw-bold" th:text="${auction.get().propertyDetails.assetCategory}"></a></div>
                            <div class="col-sm-12 col-lg-3 col-md-3"><i class="fa fa-map-marker me-1" aria-hidden="true"></i>
                                <a href="https://www.vertexproserv.com/city/pune" class="text-decoration-none contact-text fw-bold" th:text="${auction.get().propertyDetails.city}"></a>
                            </div>
                            <div class="col-sm-12 col-lg-3 col-md-3"><i class="fa fa-calendar me-1" aria-hidden="true"></i>
                                05-07-2024 11:00 AM</div>
                        </div>
                    </div>
                </div>
                <div class="card mt-3">
                    <div class="card-body details-card-bg">
                        <!-- <div class="fw-bold">Bank Details</div> -->
                        <div class="row">
                            <div class="col-sm-6 col-md-6 col-lg-6 fw-bold">Bank Details</div>
                            <div class="col-sm-6 col-md-6 col-lg-6"><span class="fw-bold">Reserve
                    Price:</span><span class="price-color fw-bold">&nbsp;₹ 3,16,71,000
                    </span>
                            </div>
                        </div>
                        <div class="row mt-3">
                            <div class="col-sm-12 col-lg-6 col-md-6 d-flex flex-column  justify-content-center">
                                <div class="row">
                                    <div class="fw-bold col-4 ms-auto">Bank Name </div>
                                    <div class="col-8">:&nbsp; <a th:text="${auction.get().bankDetails.bankName}" href="https://www.vertexproserv.com/bank/debts-recovery-tribunal" class="text-decoration-none contact-text fw-bold"></a></div>
                                    <div class="fw-bold col-4 ms-auto">EMD </div>
                                    <div th:if="${auction.isPresent()}">
                                        <p>Auction ID: <span th:text="${auction.get().auctionId}"></span></p>
                                        <p>Property Title: <span th:text="${auction.get().propertyTitle}"></span></p>
                                        <p>Property Description: <span th:text="${auction.get().propertyDescription}"></span></p>
                                        <p>Contact Details: <span th:text="${auction.get().contactDetails}"></span></p>
                                        <!-- You can display additional details here -->
                                    </div>
                                    <div th:unless="${auction.isPresent()}">
                                        <p>No auction found with the provided ID.</p>
                                    </div>
                                    <div class="col-8">:&nbsp;₹ 31,68,000</div>
                                    <div class="fw-bold col-4">Branch Name </div>
                                    <div class="col-8">:&nbsp;pune</div>
                                    <div class="fw-bold col-4">Service Provider </div>
                                    <div class="col-8">: &nbsp;indianbankseauction.com</div>
                                </div>
                            </div>
                            <div class="col-sm-12 col-lg-6 col-md-6 d-flex flex-column  justify-content-center">
                                <span class="fw-bold">Contact Details:</span>
                                <span class="contact-text fw-bold">CONTACT NO: 8797280991/9811847413</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card mt-3">
                    <div class="card-body details-card-bg">
                        <div class="fw-bold mb-3">Description</div>
                        <p th:text="${auction.get().propertyDescription}"></p>
                        <div class="row mt-2">
                            <div class="col-sm-12 col-md-4 col-lg-4"><span class="fw-bold">Province/State:</span><span class="contact-text fw-bold">&nbsp;<a href="https://www.vertexproserv.com/auctions-in-maharashtra" class="text-decoration-none contact-text fw-bold" th:text="${auction.get().propertyDetails.province}" ></a></span></div>
                            <div class="col-sm-12 col-md-4 col-lg-4"><span class="fw-bold" >City/Town:<span th:text="${auction.get().propertyDetails.city}"></span></span>
                                <span class="contact-text fw-bold">&nbsp;
                                        <a href="https://www.vertexproserv.com/city/pune" class="text-decoration-none contact-text fw-bold"></a>
                                        </span></div>

                            <div class="col-sm-12 col-md-4 col-lg-4"><span class="fw-bold">Area/Town:</span><span th:text="${auction.get().propertyDetails.area}">&nbsp;</span></div>
                        </div>
                    </div>
                </div>
                <div class="card mt-3">
                    <div class="card-body details-card-bg">
                        <div class="card-header">
                            <div class="row">
                                <div class="col-sm-6 col-md-6 col-lg-6 fw-bold">Property Details</div>
                                <div class="col-sm-6 col-md-6 col-lg-6"><span class="fw-bold">
                      <!-- Reserve    Price:</span><span class="price-color fw-bold">&nbsp;₹ 90,00,000</span> -->
                  </span></div>
                            </div>
                        </div>
                        <div class="row mt-3">
                            <div class="col-sm-12 col-lg-6 col-md-6 d-flex flex-column  justify-content-center">
                                <div class="row">
                                    <div class="fw-bold col-4 ms-auto">Borrower Name </div>
                                    <div class="col-8">:&nbsp;M/s. Pranav Agro Industries</div>
                                    <div class="fw-bold col-4 ms-auto">Asset Category</div>
                                    <div class="col-8">:&nbsp;<a href="https://www.vertexproserv.com/category/commercial" th:text = "${auction.get().propertyDetails.assetCategory}"  class="text-decoration-none contact-text fw-bold" ></a></div>
                                    <div class="fw-bold col-4">Property Type </div>
                                    <div class="col-8">:&nbsp;Commercial Office</div>
                                    <div class="fw-bold col-4 ms-auto">Auction Type </div>
                                    <div class="col-8">:&nbsp;DRT Auction</div>

                                </div>
                            </div>
                            <div class="col-sm-12 col-lg-6 col-md-6 d-flex flex-column  justify-content-center">
                                <div class="row">
                                    <div class="fw-bold col-7">Auction Start Time</div>
                                    <div class="col-5" th:text="${auction.get().propertyDetails.auctionStartTime}"></div>
                                    <div class="fw-bold col-7 ms-auto">Auction End Date </div>
                                    <div class="col-5" th:text="${auction.get().propertyDetails.auctionStartTime}"></div>
                                    <div class="fw-bold col-7">Application Submision Date</div>
                                    <div class="col-5" th:text = "${auction.get().propertyDetails.auctionEndDate}">:&nbsp;04-08-2024 05:00 PM</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card mt-3">
                    <div class="card-body details-card-bg">
                        <div class="card-header">
                            <div class="fw-bold">Downloads</div>
                        </div>
                        <div class="d-flex justify-content-evenly">
                            <div class="mt-3"><span class="fw-bold ">Sale Notice 1:</span>&nbsp;
                                <a target="_blank" href="https://www.vertexproserv.com/storage/properties/DRT117117062446008.jpg">
                                    <i class="fas fa-file fa-2x text-success  mt-2" aria-hidden="true"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

        </div>

    </div>
</section>
</body>
</html>